@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-pink: #FF00E4;
}

html, body {
    scrollbar-width: none;
  }

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-open {
    overflow: hidden;
}

